In [1]:
from pathlib import Path
import pandas as pd

In [2]:
acc_df = pd.read_csv("./datasets/crowdsignals/csv-participant-one/accelerometer_phone.csv")
own_df = pd.read_csv("./datasets/own/nothing/Accelerometer.csv")
own_meta_df = pd.read_csv("./datasets/own/nothing/meta/time.csv")

In [3]:
acc_df

           sensor_type device_type           timestamps      x      y      z
0        accelerometer  smartphone  1454956105656222395 -0.087  0.181  9.621
1        accelerometer  smartphone  1454956105660105781 -0.069  0.153  9.663
2        accelerometer  smartphone  1454956105667091406 -0.073  0.156  9.647
3        accelerometer  smartphone  1454956105670696615 -0.070  0.184  9.623
4        accelerometer  smartphone  1454956105675807552 -0.059  0.171  9.625
...                ...         ...                  ...    ...    ...    ...
1604601  accelerometer  smartphone  1454964064977354323 -0.166  0.178  9.628
1604602  accelerometer  smartphone  1454964064982928229 -0.174  0.183  9.643
1604603  accelerometer  smartphone  1454964064987681354 -0.174  0.183  9.643
1604604  accelerometer  smartphone  1454964064992564896 -0.154  0.177  9.666
1604605  accelerometer  smartphone  1454964064996744531 -0.159  0.203  9.629

[1604606 rows x 6 columns]

In [4]:
start_time = own_meta_df[own_meta_df.event == "START"]["system time"][0]

In [5]:
own_df = own_df.rename(columns={
    "Time (s)": "timestamps",
    "Acceleration x (m/s^2)": "x",
    "Acceleration y (m/s^2)": "y",
    "Acceleration z (m/s^2)": "z",
})
own_df

       timestamps         x         y         z
0        0.026358  0.081403  1.072602  9.935937
1        0.036490  0.038307  1.101333  9.883265
2        0.046513  0.057461  1.053449  9.739613
3        0.056596  0.100556  1.043872  9.835381
4        0.066754  0.138864  1.067814  9.615114
...           ...       ...       ...       ...
16818  170.735352  0.095768  1.130063  9.476251
16819  170.745427  0.076614  1.101333  9.217676
16820  170.755730  0.153229  1.130063  9.040505
16821  170.765801  0.158017  1.043872  9.806650
16822  170.775842  0.100556  1.187524  9.763555

[16823 rows x 4 columns]

In [6]:
own_df["timestamps"] += start_time
own_df["timestamps"] = own_df["timestamps"] * 10**9
own_df["timestamps"] = own_df["timestamps"].astype(int)
own_df

                timestamps         x         y         z
0      1622581881391358208  0.081403  1.072602  9.935937
1      1622581881401489664  0.038307  1.101333  9.883265
2      1622581881411513088  0.057461  1.053449  9.739613
3      1622581881421596160  0.100556  1.043872  9.835381
4      1622581881431753984  0.138864  1.067814  9.615114
...                    ...       ...       ...       ...
16818  1622582052100352256  0.095768  1.130063  9.476251
16819  1622582052110426880  0.076614  1.101333  9.217676
16820  1622582052120729344  0.153229  1.130063  9.040505
16821  1622582052130800896  0.158017  1.043872  9.806650
16822  1622582052140841728  0.100556  1.187524  9.763555

[16823 rows x 4 columns]

In [7]:
# make sure the epochs are the same format
assert len(str(acc_df["timestamps"][0])) == len(str(own_df["timestamps"][0]))